* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    width: 50%;
    margin: 50px auto;
    border: 2px solid black;
    border-radius: 25px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
}



article header button {
    background-color: white;
    border: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: rgb(127, 126, 126);
    cursor: pointer;
    padding-bottom: 0.4rem;
    font-weight: 600;
}

main {
    background-color: black;
    height: 150px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    color: black;
    border-bottom: 2px solid black;
}